body {
    display: flex;
    background-color: lightblue;
    flex-direction: column;
    align-items: center;
}

main {
    text-align: center;
}

ul {
    color: blue;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    line-height: 40px;
    padding: 20px;
}

li {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(229, 219, 219);
    border: 4px solid lightblue;
    border-radius: 25px;
}

h4 {
    font-size: 40px;
}

.random {
    font-size: large;
}

@media screen and (max-width: 420px){
    body {
        padding: 20px
    }
}